
body{
    font-family:Verdana, Serif;
    background-image:url('https://static.pexels.com/photos/268415/pexels-photo-268415.jpeg');
    color:#5498BB;
}

/*layout page*/

#navbar1 ul li{
  display:inline-block;
}
.logout{
    padding-top:15px;
    background-color:#F8F8F8;
    color:#765E5E;
}

.jumbotron{
    
   /* margin-left:20px;
    margin-right:20px;
    */
    border-radius:10px;

}

#thefooter{
    background-color:#EEEEEE;
}
/*welcome page */

#thetable{
    width:80%;
    border-radius:10px;
}
table{
    width:100%;
    
}
/*thead, tbody { display: block; }

tbody {
    width:100%;
    height: 550px;       
    overflow-y: auto;    
    overflow-x: hidden;  
}
*/
tr{
    border:2px solid #eee;
}
td{
    background-color:white;
      padding-top:10px;
    padding-bottom:10px;
    text-align:center;
}

.card{
    max-width:80%;
    padding:20px;
    background-color:white;
    border-radius:10px;
    overflow:auto;
}

/*update poll page*/
.update select{
    width:80%;
}

.update label,h3 {
    margin-left:10%;
}
.update .btn{
    width:80%;
    margin-bottom:10px;
}
.update input{
    width:80%;
}

/*svg animation*/
.arc path {
  stroke: #fff;
}

/*creat new poll page */
.myform{
    margin-left:15px;
    margin-right:15px;
}
#delete{
    margin-top:20px;
}



    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
     .jumbotron,.card{max-width:90%;}
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
     .jumbotron,.card{max-width:90%;}
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
     .jumbotron{max-width:70%;}
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
     .jumbotron{max-width:70%;}
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }
