extends layout
block content
    div(class="card center-block")
        h2(class="text-center") Make a new Poll
    form(method='post' action='' class="myform")
        div.form-group
            label(for='title') Title :
            input#title.form-control(type='text' placeholder='Title' name='title' required='true' value=(ptitle===undefined?'':ptitle))
        div.form-group
            label(for='options') Options :
            input#options.form-control(type='text-area' placeholder="Options, separated by commas" name='options' required='true' value=(poptions===undefined?'':poptions))
        div.form-group
            input#userid.form-control(type='hidden',name='userid', required='true', value=user._id )
            button.btn.btn-primary.btn-lg(type='submit') Make!
    
    if errors 
        ul
            for error in errors
                li!= error.msg    
            
            
